

.image-and-caption {
    gap : 5px;
    align-content: center;
    color: white;
    font-size: 12px;
}

.column .image-and-caption:hover {
    background-color: #382dff1a;
}

.column {
    max-width: fit-content;
    max-height: fit-content;
}

.column .image-and-caption {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.column .caption {
    min-width: 70px;
    text-align: center;
}

.row .image-and-caption {
    display: flex;
    flex-direction: row;
}

.bar {
    background-color: var(--window-item-color);
    padding-right: 5vh;
    border-bottom: solid 1px rgb(86, 86, 86);
    border-right: solid 1px rgb(86, 86, 86);
    border-top: solid 1px white;
}

.bar .caption {
    margin-bottom: 5vh;
}