

.wrapper {
    display: flex;
    flex-direction: column;
    gap : 5px;
    align-content: center;
    color: white;
}


.wrapper span {
    background-color: blue;
    padding: 2px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}